<h1>Hello World!</h1>
<form method="get">
    <p>ФИО<br><input type="text" name="fio" value="Ivanoff"></p>
    <p>Год<br><input type="text" name="year" value="2001"></p>
    <p><input type="submit" value="OK"></p>
    <p><a href="http://127.0.0.1:8088">Home</a></p>
</form>